body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-smi: 13px;
  --font-size-6xl: 25px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-seagreen: #0c713d;
  --color-gray-100: #fffdfd;
  --color-gray-200: #090909;
  --color-snow: #fcf9f9;
  --color-gainsboro: #d9d9d9;

  /* Border radiuses */
  --br-8xs: 5px;
}
